@font-face {
  font-family: "Roboto";
  src: url("/dist/assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Golos_Text";
  src: url("/src/assets/fonts/Golos_Text/GolosText-Regular.ttf");
}
